/* ボタンのレイアウト */
.style-button{
    /* テキスト */
    color: #fff;
    font-size: 1.5rem;
    background: linear-gradient(#72B3D6, 70%, #26418D);
}

.header{
    background: linear-gradient(#72B3D6, 70%, #26418D);
    
}